@use "../styles" as *;

.cellsBlock {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  &__cells {
    display: flex;
    position: relative;
  }
}
